<style>
  #sideMenu{
    background-color:#e0ddd6 ;
    max-width: 280px;
}
nav{
  padding-top: 100px;
}

a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    
}
.active{
   background-color: #e0ddd6;
   border-right: 5px solid blueviolet;
}

</style>
<body>
    <h1>Dashboard</h1>

    <a href="/users/logout">Logout</a>

    <h4>Hello <%= user %></h4>
    <section id="sideMenu"> 
      <nav>
        <a href="#" class="active">Course Dashboard</a>
        <a href="#">Course Dashboard</a>
        <a href="#">Course Dashboard</a>
        <a href="#">Course Dashboard</a>

      </nav>

    </section>
  </body>