<link rel="stylesheet" href="node-js-getting-started/public/style.css">
<body>
    <h1>Dashboard</h1>

    <a href="/users/logout">Logout</a>

    <h4>Hello <%= user %></h4>
    <section id="sideMenu"> 
      <nav>
        <a href="#">Course Dashboard</a>
        <a href="#">Course Dashboard</a>
        <a href="#">Course Dashboard</a>
        <a href="#">Course Dashboard</a>

      </nav>

    </section>
  </body>