<style>
  #sideMenu{
    background-color:#e0ddd6 ;
    max-width: 280px;
}

nav::a{
    display: block;
    color: black;
    text-decoration: none;
    
}
a.active{
   background-color: #e0ddd6;
}
</style>
<body>
    <h1>Dashboard</h1>

    <a href="/users/logout">Logout</a>

    <h4>Hello <%= user %></h4>
    <section id="sideMenu"> 
      <nav>
        <a href="#">Course Dashboard</a>
        <a href="#">Course Dashboard</a>
        <a href="#">Course Dashboard</a>
        <a href="#">Course Dashboard</a>

      </nav>

    </section>
  </body>