<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OWLSMARTLEARNING</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet" href="/node-js-getting-started/public/stylesheets/main.css"> -->
    <style>
   @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #ffffff;
  --nav-list-color: #444444;
  --first-color-dark: #C1576A;
  --first-color-darken: #A83E51;
  --white-color: #FCF8F8;
  
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}
.nav-list {
  color: var(--nav-list-color);
}

h1,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: #444444;
}

img{
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--nav-list-color);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item{
  margin-bottom: 2rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
  color: var(--white-color);
}

.nav__link:hover{
  color: var(--first-color-dark);
}

.nav__toggle{
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  background-color: var(--first-color);
  overflow: hidden;
}

.home__container{
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}

.home__img{
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.home__img img{
  position: absolute;
  top: 0;
  left: 0;
}

.home__data{
  color: var(--white-color);
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 2.5rem;
}

.home__button{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.home__button:hover{
  background-color: var(--first-color-darken);
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle, .nav__close{
    display: none;
  }

  .nav__list {
    display: flex;
  }

  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home__container{
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  
  .home__img{
    order: 1;
    width: 375px;
    height: 289px;
  }

  .home__img img{
    width: 375px;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home__img{
    width: 604px;
    height: 466px;
  }

  .home__img img{
    width: 604px;
  }
}

   
</style>
</head>
<body>
  <% if (typeof message !== 'undefined' ) { %>
    <p><%= message %></p>
    <% } %>
    <header class="l-header">
      <nav class="nav bd-grid">
          <div>
              <a href="#" class="nav__logo"><img src="https://i.postimg.cc/fTsd946b/logo.jpg"></a>
          </div>
          
          <div class="nav__toggle" id="nav-toggle">
              <i class='bx bx-menu'></i>
          </div>

          <div class="nav__menu" id="nav-menu">
              <div class="nav__close" id="nav-close">
                  <i class='bx bx-x'></i>
              </div>

              <ul class="nav__list">
                  <li class="nav__item"><a href="/" class="nav__link active">Home</a></li>
                  <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                  <li class="nav__item"><a href="/user/register" class="nav__link">Sign up</a></li>
                  <li class="nav__item"><a href="/users/login" class="nav__link">Login</a></li>
              </ul>
          </div>
      </nav>
  </header>

  <main class="l-main">
    <!--===== HOME =====-->
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__img">
              <img src="https://i.postimg.cc/SQL6V7FV/3788190.jpg" alt="learning online" >
            </div>

            <div class="home__data">
              <p>LearnAFrica is platform built to provide opportunity<br />for learning at anytime or anywhere. 
                We want the<br />students to have opportunity to have access to their<br />homeworks, classwork 
                and outside curricula activity<br />from whereever they are. Let's work together<br /> to make a change.</p>
            </div>
        </div>
    </section>
</main>
        <!-- <div class="navbar">
          <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="#" class="logo"><img src=" https://i.postimg.cc/fTsd946b/logo.jpg" alt="" srcset=""></a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="/" class="nav-links">Home</a>
            </li>
            <li>
                <a href="#" class="nav-links">Products</a>
            </li>
            <li>
                <a href="#" class="nav-links">About Us</a>
            </li>
            <li>
                <a href="/user/register" id="" class="nav-links"><span>Sign Up</span></a>
            </li>
            <li>
                <a href="/users/login" id="" class="nav-links"><span>Login</span></a>
            </li>
        </ul>
         </div>
        
         <div class="banner"> 
          <div class="text-left">
            <p>LearnAFrica is platform built to provide opportunity<br />for learning at anytime or anywhere. 
               We want the<br />students to have opportunity to have access to their<br />homeworks, classwork 
               and outside curricula activity<br />from whereever they are. Let's work together<br /> to make a change.</p>
          </div>
          <div class="app-pics">
            <img src="https://i.postimg.cc/SQL6V7FV/3788190.jpg" alt="learning online" >
          </div>
         </div>

         <header>
          <section class="sec-container">
            <h4>What we offer</h4>
          </section>
        </header>
        </div> -->

       
    <!-- <div class="background">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href=""><img src="https://i.postimg.cc/R0q4JH4X/logo.jpg" alt="OWLSMARTLEARNINGLOGO" srcset=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/register">Sign Up</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          <!-- </ul>
        </div>
      </nav>
    
<main>
    
    <div class="container " style="margin-top: 40px;">
        <div class="row">
            <div class="ol-sm-4 col-md-4 col-xs-8">
                <img src="https://i.postimg.cc/nhD0YNDy/example-30.png" style="height: 250px;
                width: 250px; margin-bottom: 15px;" alt="">
                </div>
                <div class="col-sm-8 col-md-8 col-xs-16" style="margin-top: 15px;">
                <p>LearnAFrica is platform built to provide opportunity for learning at anytime or anywhere. 
                <br />We want the students to have opportunity to have access to their homeworks, classwork 
                <br />and outside curricula activity from whereever they are. Let's work together to make a change. </p>
            </div>
        </div>
    </div>

</main>




</div>

<section>
    <div><h2>What we Offer</h2></div>
    <hr>
    <div class="card-deck">
      <div class="card" style="width: 20px; margin-left: 40px;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 5rem; ">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 5rem;  margin-right: 40px;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
   
</section> -->
<!-- <div class="container-fluid  mx-auto navbar fixed-bottom">
    <div class="row">
        <div class="line mb-3 mx-auto"></div>
        <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
            <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
                <h3>OWLSMART</h3> <small>Copyright &copy 2019</small>
            </div>
        
        </div>
    </div>
</div> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script>
 
</script>
</body>
</html>