<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OWLSMARTLEARNING</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet" href="/node-js-getting-started/public/stylesheets/main.css"> -->
    <style>
   * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        body {
            font-family: 'Josefin Sans', sans-serif;
        }

        .navbar {
            font-size: 18px;
           
           
            padding-bottom: 10px;
        }

        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: #444444;
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }

        .logo {
            display: inline-block;
          
            font-size: 22px;
            margin-top: 10px;
            margin-left: 20px;
        }

        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
        }

        .active {
            display: block;
        }

        @media screen and (min-width: 768px) {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 100px;
                flex-direction: row;
                justify-content: space-around;
            }

            .main-nav li {
                margin: 0;
            }

            .nav-links {
                margin-left: 40px;
            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }

          
            .nav-links:hover {
              background-color: #2876f9;
              background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
      
            }
        }
    
    #signup-btn{
      top: 40px;
      right: 20px;
      position: absolute;
      border: 2px solid transparent;
      color: #ffffff;
      border-radius: 20px;
      background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
    #login-btn{
      top: 40px;
      right: 125px;
      padding-left: 15px;
      position: absolute;
      border: 2px solid transparent;
      color: #ffffff;
      border-radius: 20px;
      background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
    #signup-btn span{
      display: block;
      padding: 8px 10px;
    }
    #login-btn span {
      display: block;
      padding: 8px 10px;
    }
    .banner{
      width: 80%;
      height: 70%;
      top: 30%;
      left: 130px;
      position: absolute;
      color: #444444;
    }
    .text-left {
      width: 50%;
      float: left;
    }
    .text-left {
      width: 50%;
      float: left;
    }
    .text-left p{
      width: 650px;
      font-size: 18.5px;
      margin: 30px 0 30px 40px;
      line-height: 25px;
      color: #b19bda;
    }
    .app-pics {
      width: 50%;
      float: right;
    }
    .app-pics img {
      width: 100%;
      margin-top: -20px;
      padding-left: 50px;
    }


   
</style>
</head>
<body>
  <% if (typeof message !== 'undefined' ) { %>
    <p><%= message %></p>
    <% } %>
        <div class="navbar">
          <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="#" class="logo"><img src=" https://i.postimg.cc/fTsd946b/logo.jpg" alt="" srcset=""></a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="#" class="nav-links">Home</a>
            </li>
            <li>
                <a href="#" class="nav-links">Products</a>
            </li>
            <li>
                <a href="#" class="nav-links">About Us</a>
            </li>
            <li>
                <a href="#" id="" class="nav-links"><span>Sign Up</span></a>
            </li>
            <li>
                <a href="#" id="" class="nav-links"><span>Login</span></a>
            </li>
        </ul>
         </div>
        
         <div class="banner"> 
          <div class="text-left">
            <p>LearnAFrica is platform built to provide opportunity<br />for learning at anytime or anywhere. 
               We want the<br />students to have opportunity to have access to their<br />homeworks, classwork 
               and outside curricula activity<br />from whereever they are. Let's work together<br /> to make a change.</p>
          </div>
          <div class="app-pics">
            <img src="https://i.postimg.cc/SQL6V7FV/3788190.jpg" alt="learning online" >
          </div>
         </div>

        </div>
    <!-- <div class="background">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href=""><img src="https://i.postimg.cc/R0q4JH4X/logo.jpg" alt="OWLSMARTLEARNINGLOGO" srcset=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/register">Sign Up</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          <!-- </ul>
        </div>
      </nav>
    
<main>
    
    <div class="container " style="margin-top: 40px;">
        <div class="row">
            <div class="ol-sm-4 col-md-4 col-xs-8">
                <img src="https://i.postimg.cc/nhD0YNDy/example-30.png" style="height: 250px;
                width: 250px; margin-bottom: 15px;" alt="">
                </div>
                <div class="col-sm-8 col-md-8 col-xs-16" style="margin-top: 15px;">
                <p>LearnAFrica is platform built to provide opportunity for learning at anytime or anywhere. 
                <br />We want the students to have opportunity to have access to their homeworks, classwork 
                <br />and outside curricula activity from whereever they are. Let's work together to make a change. </p>
            </div>
        </div>
    </div>

</main>




</div>

<section>
    <div><h2>What we Offer</h2></div>
    <hr>
    <div class="card-deck">
      <div class="card" style="width: 20px; margin-left: 40px;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 5rem; ">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 5rem;  margin-right: 40px;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
   
</section> -->
<!-- <div class="container-fluid  mx-auto navbar fixed-bottom">
    <div class="row">
        <div class="line mb-3 mx-auto"></div>
        <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
            <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
                <h3>OWLSMART</h3> <small>Copyright &copy 2019</small>
            </div>
        
        </div>
    </div>
</div> -->
<script>
 
</script>
</body>
</html>