<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OWLSMARTLEARNING</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet" href="/node-js-getting-started/public/stylesheets/main.css"> -->
    <style>
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    .container {
      width: 100%;
      height: 100%;
      
    }
    .menu ul{
       display: inline-flex;
       margin: 50px;
    }
    
    .menu ul li{
      list-style: none;
      margin: 0 20px;
      color: #F4F4F1;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: #444444;
    }
    .logo img{
      width: 60px;
      margin-top: -18px;
      margin-right: 48px;
    }
    .active {
      color:#b19bda;
    }
    .signup-btn{
      top: 40px;
      right: 60px;
      position: absolute;
      border: 2px solid transparent;
      color: #ffffff;
      border-radius: 20px;
      background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
    .login-btn{
      top: 40px;
      right: 40px;
      padding-left: 15px;
      position: absolute;
      border: 2px solid transparent;
      color: #ffffff;
      border-radius: 20px;
      background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
    .signup-btn span{
      display: block;
      padding: 8px 22px;
    }
</style>
</head>
<body>
  <% if (typeof message !== 'undefined' ) { %>
    <p><%= message %></p>
    <% } %>
        <div class="container">
         <div class="menu">
            <ul>
              <li class="logo"><img src="https://i.postimg.cc/fTsd946b/logo.jpg" alt="" srcset=""></li>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">What we offer</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Prices</a></li>
              <li><a class="signup-btn" href="/user/register"><span>Sign Up</span></a></li>
              <li><a  class="login-btn" href="/users/login">Login</a></li>

             
            </ul>
         </div>
        </div>
    <!-- <div class="background">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href=""><img src="https://i.postimg.cc/R0q4JH4X/logo.jpg" alt="OWLSMARTLEARNINGLOGO" srcset=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/register">Sign Up</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          <!-- </ul>
        </div>
      </nav>
    
<main>
    
    <div class="container " style="margin-top: 40px;">
        <div class="row">
            <div class="ol-sm-4 col-md-4 col-xs-8">
                <img src="https://i.postimg.cc/nhD0YNDy/example-30.png" style="height: 250px;
                width: 250px; margin-bottom: 15px;" alt="">
                </div>
                <div class="col-sm-8 col-md-8 col-xs-16" style="margin-top: 15px;">
                <p>LearnAFrica is platform built to provide opportunity for learning at anytime or anywhere. 
                <br />We want the students to have opportunity to have access to their homeworks, classwork 
                <br />and outside curricula activity from whereever they are. Let's work together to make a change. </p>
            </div>
        </div>
    </div>

</main>




</div>

<section>
    <div><h2>What we Offer</h2></div>
    <hr>
    <div class="card-deck">
      <div class="card" style="width: 20px; margin-left: 40px;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 5rem; ">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 5rem;  margin-right: 40px;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
   
</section> -->
<!-- <div class="container-fluid  mx-auto navbar fixed-bottom">
    <div class="row">
        <div class="line mb-3 mx-auto"></div>
        <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
            <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
                <h3>OWLSMART</h3> <small>Copyright &copy 2019</small>
            </div>
        
        </div>
    </div>
</div> -->
</body>
</html>